h1 {color:red;}
#f1 {color:blue;}
.f2 {color:green;}
#mod .e1 b {color:yellow;}
#mod .e2 b {color:purple;}
#mod .e3 b {color:blue;}

#titulo {color:white;}
#p12 .p1 {color:grey;}
#p12 .p2 {color:pink;}
a {vlink:red; alink:orange;}
table {bordercolor:white; border:3; width:50%; height:200px;}
#span1 {background-color:white;}
#lista {color:white;}
